<main role="main" *ngIf="eliquid && level">
    <div class="album py-5 bg-light">
        <div class="container" *ngFor="let liquido of eliquid">
            <div class="row card-eliquid-detail">
                <div class="col-md-5">
                    <div class="col-mb-5">
                        <img class="image-eliquid-detail" src="../../../assets/img/{{liquido.name}}.jpg">
                    </div>
                </div>
                <p>

                </p>
                <div class="col-md-7">
                    <div class="col-mb-7">
                        <ul>
                            <li>
                                <h3>{{liquido.name}}</h3>
                                <span><strong><i>{{liquido.description}}</i></strong></span>
                            </li>
                            <br>
                            <li>
                                <p><strong>Tipo: </strong>{{liquido.type}}</p>
                            </li>
                            <li>
                                <p><strong>Formato: </strong>{{liquido.ml}}</p>
                            </li>
                            <li>
                                <p><strong>Valor: </strong>{{liquido.price | currency: 'CLP'}}</p>
                            </li>
                            <li>
                                <p><strong>Nicotina:</strong>
                                    <select (change)="getStock(nicotina)" [(ngModel)]="nicotina">
                                        <!-- <option value="0" selected="selected">Selecciona</option> -->
                                        <option *ngFor="let data of level" value="{{data.nicotine}}">{{data.nicotine}}
                                        </option>
                                    </select>
                                </p>
                            </li>
                            <li>
                                <p *ngFor="let disponible of stock"><strong>Stock: </strong>
                                    <span *ngIf="disponible.stock > 0" style="color:green; font-weight: bold">En
                                        stock</span>
                                    <span *ngIf="disponible.stock == 0" style="color:red; font-weight: bold">Sin
                                        stock</span>
                                    <br>
                                    <span style="color: gray;font-size: 12px;"><i>Cantidad:
                                            {{disponible.stock}}</i></span>
                                    <br>
                                    <button *ngIf="disponible.stock > 0">Agregar</button>
                                </p>

                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>