<main role="main" *ngIf="eliquid && level">
    <div class="album py-5 bg-light">
        <div class="container" *ngFor="let liquido of eliquid">
            <div class="row card-eliquid-detail">
                <div class="col-md-5">
                    <div class="col-mb-5">
                        <img class="image-eliquid-detail" src="../../../assets/img/{{liquido.name}}.jpg">
                    </div>
                </div>
                <p>

                </p>
                <div class="col-md-7">
                    <div class="col-mb-7">
                        <ul>
                            <li>
                                <h3>{{liquido.name}}</h3>
                                <span>{{liquido.description}}</span>

                                <!-- <span *ngIf="liquido.stock > 0" style="color:green; font-weight: bold">En stock</span>
                                <span *ngIf="liquido.stock == 0" style="color:red; font-weight: bold">Sin stock</span> -->
                            </li>
                            <br>
                            <li>
                                <p><strong>Tipo: </strong>{{liquido.type}}</p>
                            </li>
                            <li>
                                <p><strong>Formato: </strong>{{liquido.ml}} ML</p>
                            </li>
                            <li>
                                <p><strong>Valor: </strong>{{liquido.price | currency: 'CLP'}}</p>
                            </li>
                            <li>
                                <p><strong>Nicotina:</strong>
                                    <select (change)="getStock(liquido._id)" [(ngModel)]="nicotinaSeleccionada">

                                        <option aria-placeholder="Seleccione" *ngFor="let data of level"
                                            [ngValue]="data.nicotine">{{data.nicotine}}</option>
                                    </select>
                                </p>
                            </li>
                            <li *ngFor="let data of level">
                                Stock: 
                               <span *ngIf="data.nicotine == '0 N'">{{data.stock}}</span>
                               <span *ngIf="data.nicotine == '3 N'">{{data.stock}}</span>
                               <span *ngIf="data.nicotine == '6 N'">{{data.stock}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>