@font-face {
	font-family: "animals";
	src: url(fonts/animals.ttf);
}

.navbar a {
	font-family: animals;
}

.bg-dark-now {
	background-color: black !important;
}

.image-nav {
	width: 150px;
	transition: transform 400ms;
}

.image-nav:hover {
	transform: scale(1.1);
}

.image-eliquid {
	width: 100%;
	height: 300px;
	padding: 10px 10px 10px 10px;
	overflow: hidden;
	filter: grayscale(100%);
	transition: filter 400ms, transform 400ms;
}

.image-eliquid:hover {
	transform: scale(0.89);
	filter: grayscale(0%);
}

.card-eliquid-detail {
	width: 1200px;
}

.card-eliquid-detail img {
	width: 400px;
	margin: 30px 30px 30px 30px;
	border-radius: 25px;
}

.card-eliquid-detail img {
	width: 400px;
	margin: 30px 30px 30px 30px;
	border-radius: 25px;
}

.card-eliquid-detail ul {
	list-style: none;
	margin-top: 100px;
}

/* .card-eliquid-detail ul h3 {
	font-family: animals;
} */

.eliquid-main h5 {
	font-family: animals;
	text-align: center;
}

footer {
	background-color: black;
	position: absolute;
	bottom: 0;
	width: 100%;
	/* height: 40px; */
	color: white;
}

footer img {
	width: 300px;
}

.home {
	text-align: center;
	background-color: #f8f1ff !important;
	height: 700px;
}

.form-center {
	display: flex;
	align-items: center;
}

form {
	width: 380px;
}

form h3 {
	font-family: animals;
}

.edit-input {
	border: 0;
	color: black;
	background: transparent;
}

.name-input {
	font-size: 28px;
    font-family: animals;
}